<h1 class="text-center" >About MY CAB</h1>
<pre>
</pre>
<div class="card text-bg-dark">
    {{!-- <img src="https://img.freepik.com/premium-photo/car-with-sport-modern-design-parked-road_33867-7.jpg?w=1060" --}}
        {{!-- class="card-img" height="530px"> --}}
    <div class="card-img-overlay">
        <pre>

        </pre>

        <p class="card-text" style="font-size:125% ;"  >MY CAB is here to make your trip hassle-free and enjoyable. We provide a comfortable
            taxi service with experienced drivers, taking you around Kerala, with a focus on enhancing your experience.
            </p>
            <p style="font-size:125% ;" >
            Our well-equipped taxi service helps it easy for you to explore the lengths and breadths of the region.
            MY CAB has got taxi drivers who know every corner of the locality and all the best places to
            visit. We aim at making every trip a memorable one. Our 24/7 customer support facility makes the process
            hassle-free and enjoyable.</p>
    
    </div>
</div>