<h1 class="text-center" style="color: white;">Frequently Asked Questions</h1>

<div class="card text-bg-dark">
    <div>
        <p>Q. How do I get my car and driver details?</p>
        <p>
            A. Car and driver details will be updated in the itinerary no later than 24 hours before the pickup time and
            will be send as Email/SMS/Whatsapp to you.

        </p>
    </div>
    <pre></pre>
     <div>
        <p>Q. Where do I meet my driver?</p>
        <p> The driver will call you 15-45 minutes before the pickup.</p>
    </div>
    <pre></pre>
    <div>
        <p>Q. How can I pay for the taxi?</p>
        <p> A. We accept online payments, cash and bank transfer. You can find more details about payment methods at http://www.inboundtrip.com/#ways-to-pay .</p>
    </div>
    <pre></pre>
    <div>
        <p>Q. Can I pay the driver?</p>
        <p>A. You can pay directly to the driver. Receipts towards the payments will be send to your email address.</p>
    </div>
    <pre></pre>
    <div>
        <p>Q. What happens if the Taxi breaks down midway?</p>
        <p>A. As a policy we provide only vehicles which are in very good running condition. Minor repairs can be rectified in minutes. In case of major break down, we shall arrange an alternate taxi. It is our endeavor to ensure you reach your destination with minimal loss of time and comfort.</p>
    </div>

</div>