<div class="container">
    <h1 class="text-center">Booking </h1>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label for="dateofbooking">Date of Booking</label>
                    <input type="date" name="dateofbooking" id="dateofbooking" class="form-control">
                </div>
                <div>
                     <label for="cabfrom">Cab from</label>
                     <input type="text" name="cabfrom" class="form-control">
                </div>
                <div>
                    <label for="cabto">Cab To</label>
                     <input type="text" name="cabto" class="form-control">
                    
                </div>
                <div>
                    <label for="bookingtime">Booking Time</label>
                    <input type="time" name="bookingtime" id="bookingtime" class="form-control">
                </div>
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-outline-primary shadow">Book Now</button>
                </div>
            </form>
        </div>
    </div>
</div>