<div class="container" style="color: white;">
    <h1 class="text-center">Booking </h1>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label for="dateofbooking">Date of Booking</label>
                    <input type="date" name="dateofbooking" id="dateofbooking" class="form-control">
                </div>
                <div>
                     <label for="cabfrom">Cab from</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select one place</option>
                        <option value="1">Place 1</option>
                        <option value="2">Place 2</option>
                        <option value="3">Place 3</option>
                        <option value="3">Place 4</option>
                        <option value="3">Place 5</option>
                    </select>
                </div>
                <div>
                    <label for="cabto">Cab To</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select one place</option>
                        <option value="1">Place 1</option>
                        <option value="2">Place 2</option>
                        <option value="3">Place 3</option>
                        <option value="3">Place 4</option>
                        <option value="3">Place 5</option>
                    </select>
                </div>
                <div>
                    <label for="bookingtime">Booking Time</label>
                    <input type="time" name="bookingtime" id="bookingtime" class="form-control">
                </div>
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-outline-primary shadow">Book Now</button>
                </div>
            </form>
        </div>
    </div>
</div>