<h1 class="text-center">Contact Us</h1>

{{!-- <div class="row">
    <div class="col-sm-6 offset-sm-1">
        <form>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">full Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Full name">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Email</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="me@mail.com">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Contact number">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">How can we help you?</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-outline-info shadow">Send</button>

            </div>

        </form>
    </div>
</div> --}}
{{!-- <div class="text-center">
            <h5>If you have any queries please use the form below or give us a call</h5>
        </div>
<div class="col-sm-6 offset-sm-4">
    <pre></pre>
    <div >
        <div class="card-body">
            <p>Contact number : 7898674378</p>
            <p>Email : mycab@mail.com</p>
        </div>
    </div>
</div> --}}
<div class="card text-bg-dark">
  <img src="https://img.freepik.com/free-photo/top-view-chat-bubbles-with-telephone-receiver-copy-space_23-2148796078.jpg?w=996&t=st=1670134532~exp=1670135132~hmac=3215407f6413bb9acacab08fc91f8302360e716ce5058849fcf1205a91169737" class="card-img" height="500px">
  <div class="card-img-overlay">
    <pre>

    </pre>
   <div class=" w-50">
  <div class="card-body">
    <h4 class="card-title">If you have any queries please use the form below or give us a call</h4>
    <pre></pre>
    <h5 class="card-text">Contact number : 7898674378</h5>
    <h5 class="card-text">Email : mycab@mail.com</h5>
  </div>
</div>
</div>