<h1 class="text-center" style="color: white;">Contact Us</h1>

<pre>
</pre>
<h5 style="color:white ;">If you have any queries please use the form below or give us a call</h5>
<pre></pre>
<div class="row">
    <div class="col-sm-6 offset-sm-1" style="color: white;">
        <form>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">full Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput"
                    placeholder="Full name" >
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Email</label>
                <input type="text" class="form-control" id="formGroupExampleInput"
                    placeholder="me@mail.com">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="formGroupExampleInput"
                    placeholder="Contact number">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">How can we help you?</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-outline-primary shadow">Send</button>
    
                </div>
            
        </form>
    </div>
</div>