<h1 class="text-center" style="color: white;">Login</h1>
<div class="container" style="color: white;">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label for="driveremail">Driver Email</label>
                    <input type="email" name="driveremail" id="driveremail" class="form-control">
                </div>
                <div>
                    <label for="driverpassword">Driver Password</label>
                    <input type="password" name="driverpassword" id="driverpassword" class="form-control">
                </div>
                <div class="d-grid mt-3">
                    <button class="btn btn-primary">Login</button>

                    {{#if message}}
                    <p class="text-danger">{{message}}</p>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>