{{>navbar}}

<h1 class="text-center" style="color: rgb(250, 248, 248);"><b>MY CAB</b></h1>
<pre>
</pre>

<p class="text-center " style="color:white ;">Cabs available 24 Hours. Clean Cars and on time pickup guaranteed</p>

<div class=" text-center " style="color: white;">
    
    <div class="card-body">
        <p class="card-text">MY CAB offers the best cab operators and drivers to make your journey without any
            problem.We ensure you an unforgettable experience while traveling with us.
            This online taxi booking facility offers taxi services at discounted rates. So, what are you waiting for?
            Book your cab with MY CAB and travel comfortably.
            <br>
            <br>
            Booking a cab is surely a task! How many times have you struggled to book a taxi online, especially when the
            weather is weary and or you have an emergency?
            We have a solution for all your problems, book your cabs with MY CAB. We are a customer centric company, and
            we only wish to provide best services to our travellers.
            Keeping all this in mind, We offer extremely simple and painless interface to make your online cab booking
            experience without any problem.
        </p>
        <a href="/index" class="btn btn-outline-primary shadow">Read More</a>
    </div>
</div>
<pre>

</pre>
<h3 class="text-center" style="color: white;">Why Choose Us?</h3>
<pre></pre>
<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class=" h-100" style="color: rgb(247, 213, 213);">
                <div class="card-body">
                    <h5 class="card-title">Extensive Options</h5>
                    <p class="card-text">Wide range of quality safe and licensed vehicles.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class=" h-100" style="color: rgb(247, 213, 213);">
                <div class="card-body">
                    <h5 class="card-title">Convenient</h5>
                    <p class="card-text">Enjoy a high quality transfer experiance at surprisingly low prices.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class=" h-100" style="color: rgb(247, 213, 213);">
                <div class="card-body">
                    <h5 class="card-title">Easy and Flexible Booking</h5>
                    <p class="card-text">Booking online is easy and only take few minutes and the
                        cancellations are free upto 24 hours before transfer.</p>
                </div>
            </div>
        </div>
    </div>
    <pre>
</pre>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class=" h-100" style="color: rgb(247, 213, 213);">
                <div class="card-body">
                    <h5 class="card-title" >Costomer Service</h5>
                    <p class="card-text">24/7 customer service is provided. We are always here to help you.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class=" h-100" style="color: rgb(247, 213, 213);">
                <div class="card-body">
                    <h5 class="card-title">Secure and Safer Rides</h5>
                    <p class="card-text">Verified drivers, an emergency alert button, and live ride tracking are
                        some of the features that we have in place to ensure you a safe travel experience.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<pre>

</pre>

<div class="card text-bg-dark">
    <img src="https://img.freepik.com/free-photo/driver-with-opened-car-door_23-2149184241.jpg?w=996&t=st=1669534917~exp=1669535517~hmac=aeb247d6816693261f7240411226d0ce6a01a90d35a75945c42d1a2aa48113ef"
        class="card-img" height="500px">
    <div class="card-img-overlay">
        <pre>
        </pre>
        <h4 class="card-title">Cab Booking</h4>
        <pre></pre>
        <p class="card-text">24 hours Cab Service to any destinations. Book online and get instant confirmation, also
            you can directly contact us. Car and driver details will be shared in advance.</p>
        <pre>
        </pre>
        <h4 class="card-title">Booking Online</h4>
        <pre></pre>
        <ul class="card-text">
            <li>Go to booking page</li>
            <li>Enter the details </li>
            <li>Cab booking is done, just in matter of few clicks</li>
        </ul>
        <p class="card-text">You can book online and get your cab reserved. Car and driver details will be updated
            before the pickup time and will be send as Email, SMS and Whatsapp to you, and also the driver will contact
            you before the journey.</p>
        <pre>

        </pre>
        <div>
            <a href="#" class="btn btn-outline-primary shadow">Book Now</a>
        </div>
    </div>
</div>