{{>navbar}}
<pre>

    
</pre>
<body>
<div class="main" >
    
    <h4><b>WELCOME</b></h4>
        <p>MY CAB offers the best cab operators and drivers for every location of India to make your journey without any problem.We ensure you an unforgettable experience while traveling with us.
            This online taxi booking facility offers taxi services at discounted rates. So, what are you waiting for? Book your cab with MY CAB and travel comfortably.
        </p>
        <p>Booking a cab is surely a task! How many times have you struggled to book a taxi online, especially when the weather is weary and or you have an emergency?
            We have a solution for all your problems, book your cabs with MY CAB. We are a customer centric company, and we only wish to provide best services to our travellers.
            Keeping all this in mind, We offer extremely simple and painless interface to make your online cab booking experience without any problem.
        </p>
        <ul>
            <li>Go to booking page</li>
            <li>Enter the details and purpose of your ride</li>
            <li>Cab booking is done, just in matter of few clicks</li>
        </ul>
        <pre></pre>
        <h4><b>Services we provide</b></h4>
        <ol>
            <li><b>Extensive Options</b>- Wide range of quality safe and licensed vehicles.</li>
            <li><b>Convenient</b> - Enjoy a high quality transfer experiance at surprisingly low prices.</li>
            <li><b>Easy and Flexible Booking</b> - Booking online is easy and only take few minutes and the cancellations are free upto 24 hours before transfer.</li>
            <li><b>Costomer Service</b> - 24/7 customer service is provided. We are always here to help you.</li>
            <li><b>Secure and Safer Rides</b>Verified drivers, an emergency alert button, and live ride tracking are some of the features that we have in place to ensure you a safe travel experience.</li>

        </ol>
        <pre></pre>
        <div class="table-responsive">
            <table class="table ">
                <tbody>
                    <tr>
                        <td><a href="booking.hbs"><b>Ernakulam-Trivandrum</b></a></td>
                        <td><a href="booking.hbs"><b>Ernakulam-Malappuram</b></a></td>
                        <td><a href="booking.hbs"><b>Ernakulam-Thrissur</b></a></td>
                        <td><a href="booking.hbs"><b>Ernakulam-Kozhikode</b></a></td>
                    </tr>
                    <tr>
                        <td><a href="booking.hbs"><b>Ernakulam-Iddukki</b></a></td>
                        <td><a href="booking.hbs"><b>Ernakulam-Palakkad</b></a></td>
                        <td><a href="booking.hbs"><b>Ernakulam-Kottayam</b></a></td>
                        <td><a href="booking.hbs"><b>Ernakulam-Kannur</b></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
 </div>
 </body>
 