{{>navbar}}
<h1 class="text-center" style="color: rgb(250, 248, 248);"><b>MY CAB</b></h1>
<pre>

</pre>
<div class=" text-center " style="color: white;">
    <div class="card-header">
        <b> WELCOME</b>
    </div>
    <div class="card-body">
        <p class="card-text">MY CAB offers the best cab operators and drivers to make your journey without any
            problem.We ensure you an unforgettable experience while traveling with us.
            This online taxi booking facility offers taxi services at discounted rates. So, what are you waiting for?
            Book your cab with MY CAB and travel comfortably.
            <br>
            <br>
            Booking a cab is surely a task! How many times have you struggled to book a taxi online, especially when the
            weather is weary and or you have an emergency?
            We have a solution for all your problems, book your cabs with MY CAB. We are a customer centric company, and
            we only wish to provide best services to our travellers.
            Keeping all this in mind, We offer extremely simple and painless interface to make your online cab booking
            experience without any problem.
        </p>
    </div>
</div>
<div>
    <pre>
    </pre>
    <div class="col-sm-6 offset-sm-1">
        <div class="row">
            <h3 style="color: white">Cabs Available </h3>
            <pre></pre>
            <ul style="color: white;">
                <li>Free Booking Process</li>
                <li>Clean And Fully Equipped Cars </li>
                <li>24/7 Customer Support</li>
                <li>No Hidden Charges</li>
            </ul>
        </div>

    </div>
    <p style="color:white;">24 hours Cab Service to any destinations. Book online and get instant confirmation, also
        you can directly contact us. Car and driver details will be shared in advance.</p>
        
    <p style="color:white;">You can book online and get your cab reserved. Car and driver details will be updated
        before the pickup time and will be send as Email, SMS and Whatsapp to you, and also the driver will contact
        you before the journey.</p>