<pre>


</pre>
<div class="col-sm-5 offset-sm-4">
    <div class=" card w-75 text-center">
        <div class="card-header">
            <h4 class="card-title">Payment</h4>
        </div>
        <div class="card-body">

            <table class="table">
                <tr>
                    <th>Cab From</th>
                    <td>{{data.dataValues.cab_from}}</td>
                </tr>
                <tr>
                    <th>Cab To</th>
                    <td>{{data.dataValues.cab_to}}</td>
                </tr>
                <tr>
                    <th>Cost</th>
                    <td>{{data.dataValues.cost}}</td>
                </tr>
            </table>
            <button class="btn btn-outline-success"><a href="/booking/paymentDetails/{{data.dataValues.booking_id}}">Pay
                    Now</a></button>

        </div>
    </div>
</div>