<div class="col-sm-6 offset-sm-4">
    <pre>


    </pre>
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Payment</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Online Payment</li>
            <li class="list-group-item">Cash Payment To Driver</li>
            <li class="list-group-item">Bank Transfer</li>
        </ul>
    </div>
</div>