<h1 class="text-center"> places</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-4">
            <form mwthod="post">
                <div>
                    <label for="cabfrom">Cab From</label>
                    <input type="text" name="cabfrom" id="cabfrom" class=" form-control" value="{{data.dataValues.cab_from}}"> 
                
                </div>
                 <div>
                    <label for="cabto">Cab To</label>
                    <input type="text" name="cabto" id="cabto" class=" form-control" value="{{data.dataValues.cab_to}}">
                
                </div>
                 <div>
                    <label for="cost">Cost</label>
                    <input type="number" name="cost" id="cost" class=" form-control" value="{{data.dataValues.cost}}">
                
                </div>
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-outline-info">Save</button>
                    </div>
            </form>
        </div>
    </div>
</div>