<pre>

    
</pre>
<div class="col-sm-6 offset-sm-4">
    <div class="card" style="width: 18rem;">
        <table class="table">
            <tr>
                <th>Cab From</th>
                <td>{{data.dataValues.cab_from}}</td>
            </tr>
            <tr>
                <th>Cab To</th>
                <td>{{data.dataValues.cab_to}}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{data.dataValues.cost}}</td>
            </tr>
        </table>
        <div class="col-sm-6 offset-sm-4">
            <a href="/booking/paymentDetails/{{data.dataValues.booking_id}}">
                <button class="btn btn-outline-success">Pay Now</button>
            </a>
        </div>

    </div>
</div>




{{!--
<td>

</td>
</tr> --}}