
<div class="container">
    <h1 class="text-center" style="color:white">Registration</h1>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label for="firstName" style="color:white">First Name</label>
                    <input type="text" name="firstName" id="firstName" class="form-control" placeholder="firstName">
                </div>
                <div>
                    <label for="lastName" style="color:white">Last Name</label>
                    <input type="text" name="lastName" id="lastName" class="form-control" placeholder="lastName">
                </div>
                <div>
                    <label for="email" style="color:white">Email</label>
                    <input type="email" name="email" id="email" placeholder="example@mail.com" class="form-control">
                </div>
                <div>
                    <label for="password" style="color:white">Password</label>
                    <input type="password" name="password" id="password"  class="form-control">
                </div>
                <div>
                    <label for="mobile" style="color:white">Mobile</label>
                    <input type="number" name="mobile" id="mobile" class="form-control">
                </div>
                <div>
                    <label for="address" style="color:white">Address</label>
                    <input type="text" name="address" id="address" class="form-control">
                </div>
                <div>
                    <label for="dob" style="color:white">Date of Birth</label>
                    <input type="date" name="dob" id="dob" class="form-control">
                </div>
                <div>
                    <label for="gender" style="color:white">Gender</label>
                    <input type="radio" name="gender" id="male"  value="M" > Male
                    <input type="radio" name="gender" id="female"  value="F"> Female
                </div>
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                    {{#if message}}
                    <p class="text-danger">{{message}}</p>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>